name: Deploy WordPress
on:
  push:
    branches: [ master ] 

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Build artifact
      run: |
        mkdir dist
        rsync -rr . dist --exclude .git --exclude .github --exclude dist
      
        NOW=$(date +'%Y-%m-%d-%H-%M')
      
        tar -czf app-${NOW}.tar.gz -C dist .
       
        echo "DEPLOY_FILE=app-${NOW}.tar.gz" >> $GITHUB_ENV

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-2

    - name: Upload to S3
      run: |
        
        aws s3 cp ${{ env.DEPLOY_FILE }} s3://shalaby-app-git/

    - name: Deploy to EC2 via SSH
      env:
        SSH_PRIVATE_KEY: ${{ secrets.EC2_SSH_KEY }}
      run: |
        eval $(ssh-agent -s)
        echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
        mkdir -p ~/.ssh
        chmod 700 ~/.ssh
        
        IPS=$(aws ec2 describe-instances --filters "Name=tag:aws:autoscaling:groupName,Values=Shalaby-ASG" --query "Reservations[].Instances[].PublicIpAddress" --output text)
        
        for ip in $IPS; do
          if [ "$ip" != "None" ] && [ -n "$ip" ]; then
            echo "Deploying version ${{ env.DEPLOY_FILE }} to $ip..."
            
            scp -o StrictHostKeyChecking=no -o ConnectTimeout=30 ${{ env.DEPLOY_FILE }} ec2-user@$ip:/tmp/
            ssh -o StrictHostKeyChecking=no -o ConnectTimeout=30 ec2-user@$ip "sudo tar -xzf /tmp/${{ env.DEPLOY_FILE }} -C /var/www/html/ && sudo chown -R apache:apache /var/www/html && sudo systemctl restart httpd"
          fi
        done
