name: Deploy WordPress
on:
  push:
    branches: [ master ] 

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Build artifact
      run: |
        mkdir dist
        rsync -rr . dist --exclude .git --exclude .github --exclude dist
        NOW=$(date +'%Y-%m-%d-%H-%M')
        tar -czf app-${NOW}.tar.gz -C dist .
        cp app-${NOW}.tar.gz app.tar.gz
        echo "DEPLOY_FILE=app-${NOW}.tar.gz" >> $GITHUB_ENV

    - name: Configure AWS credentials
      
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-2

    - name: Upload to S3
      run: |
        aws s3 cp ${{ env.DEPLOY_FILE }} s3://shalaby-app-git/
        aws s3 cp app.tar.gz s3://shalaby-app-git/

    - name: Refresh Auto Scaling Group
      run: |
        aws autoscaling start-instance-refresh \
          --auto-scaling-group-name Shalaby-ASG \
          --preferences '{"MinHealthyPercentage": 50}'
